on: push
jobs:
  my-job:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: clone
        uses: actions/checkout@v3
      - run: chmod +x ci/build-app.sh && ci/build-app.sh