name: hello-world
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: Clone-down
        uses: actions/checkout@v3
      - name: Build
      - run: ci/build-app.sh
      - name: Test
      - run: ci/unit-test-app.sh