name: hello-world
on: push
jobs:
  my-job:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: | 
          ./ci/unit-test-app.sh
      - name: Build app
        run: | 
          ./ci/build-app.sh
      - name: Upload Repo
        uses: actions/upload-artifact@v2
        with:
          name: code
          path: .
#      - name: Download a single artifact
#        uses: actions/download-artifact@v2
#        with:
#          name: my-artifact
#          path: path/to/download/artifact/

          
