name: hello-world
on: push
jobs:
  Build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: my-step
        run: echo "Hello World!"
      - name: Clone-down
        uses: actions/checkout@v3
      - run: chmod +x ci/build-app.sh && ci/build-app.sh
      