name: Java-CI
on: push
env:
  docker_username: ${{ secrets.DOCKER_USERNAME }}
  docker_password: ${{ secrets.DOCKER_PASSWORD }}
  # git_commit: ${{github.sha}} # BLA
jobs:
  Clone-down:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: Clone-down
        uses: actions/checkout@v2
      - name: Upload Repo
        uses: actions/upload-artifact@v2
        with: 
          name: code
          path: .
  Build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    needs: [Clone-down]
    steps:
      - name: Download Repo
        uses: actions/download-artifact@v2
        with: 
          name: code
          path: .
      - name: Build
        run: sh ci/build-app.sh      
      - name: Test
        run: sh ci/unit-test-app.sh
      - name: Upload Repo
        uses: actions/upload-artifact@v2
        with:
          name: code
          path: .
      # - name: Upload
      #   uses: actions/upload-artifact@v2
      #   with: 
      #     name: build
      #     path: app/build/libs/app-0.1-all.jar  
  Docker-image:
    runs-on: ubuntu-latest
    needs: [Build]
    steps:
      - name: Download Repo
        uses: actions/download-artifact@v2
        with: 
          name: code
          path: .
      - name: build docker
        run: chmod +x ci/build-docker.sh && ci/build-docker.sh
      - name: push docker
        run: chmod +x ci/push-docker.sh && ci/push-docker.sh
      - name: Upload Repo
        uses: actions/upload-artifact@v2
        with:
          name: code
          path: .
  Component-test:
    runs-on: ubuntu-latest
    needs: [Docker-image]
    steps:
      - name: Download Repo
        uses: actions/download-artifact@v2
        with: 
          name: code
          path: .
      - name: Execute component test
        run: chmod +x ci/component-test.sh && GIT_COMMIT="GA-$GITHUB_SHA" && ci/component-test.sh
  Performance-test:
    runs-on: ubuntu-latest
    needs: [Docker-image]
    steps:
      - name: Download Repo
        uses: actions/download-artifact@v2
        with: 
          name: code
          path: .
      - name: Execute component test
        run: chmod +x ci/performance-test.sh && ci/performance-test.sh
  